@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dodaj svoje globalne stilove ispod */
body {
  @apply bg-gray-50 text-gray-900 antialiased;
  margin: 0;
  font-family: system-ui, sans-serif;
}
